body, header, div, nav, a, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, label, input, select, li, button{
    font-family: Verdana, Geneva, sans-serif;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: beige;
    display: flex;
    flex-flow: column;
}

body.background {
    background-image: url('../images/darts-background.png');
    background-size: 75%;
    background-position: 0 84px;
}

header {
    background-color: beige;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: min-content auto max-content;
    flex: 0 1 auto;
}

nav {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

a {
    color: black;
    text-decoration: none;
    display: block;
    float: right;
    padding-right: 1em;
    padding-left: 1em;
}

.divider {
    border-right: 5px solid black;
}

img {
    margin: 10px;
    padding-left: 1em;
    padding-right: 2em;
}

.play {
    background-color: #282C34;
    color: white;
    display: block;
    width: fit-content;
    padding: 2em;
    padding-bottom: 0.5em;
    margin: auto;
    margin-top: 10vh;
    border-radius: 2em;
}

div.game-type {
    background-color: beige;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
}

input.game-type {
    display: none;
}

label.game-type {
    padding: 0.5em 0.5em;
    color: black;
    display: inline-block;
}

input.game-type:checked+label {
    background-color: dodgerblue;
    border-radius: 0.5em;
}

.form {
    margin: 0 0 0.5em 0;
    display: block;
}

input.form, select.form {
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
}

label.form {
    margin: 0 0 0.5em 0;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
    width: 100%;
    padding-top: 1em;
}

.item {
    flex-basis: auto;
    padding: 0;
    margin: 0;
    max-width: 30%;
    max-height: 20vh;
}

img.cam-status {
    border: 5px solid black;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%
}

h2.cam-status {
    padding-bottom: 0.5em;
}

canvas {
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    margin: auto;
}

.half_and_half {
    flex: 1 1 auto;
    max-height: 100%;
    overflow: hidden;
}


.left, .right {
    box-sizing: border-box;
    height: 100%;
    float: left;
}

.left {
    width: 50%;
    height: 100%;
    padding: 1em 3em;
    background-color: #267F54;
    color: beige;
    overflow-y: auto;
}

li {
    padding-bottom: 1em;
}

.right {
    background-color: #282C34;
    width: 50%;
    height: 100%;
    text-align: center;
}

button.skill-controls {
    width: fit-content;
    padding: 1em 2em 1em 2em;
    background-color: #282C34;
    color: beige;
    border-radius: 1em;
    border: none;
}

button.skill-controls:hover {
    background-color: #E3292E;
}

div.skill-controls {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-items: center;
}

.camera-controls {
    background-color: #282C34;
    display: grid;
    grid-template-columns: max-content max-content max-content;
    justify-content: left;
    align-items: top;
    width: fit-content;
    margin-left: 1em;
}

div.camera-control {
    width: auto;
    height: auto;
    padding: 0.5em 1em 0.5em;
    color: beige;
    border-right: 2px solid beige;
    border-left: 2px solid beige;
}

div.control-buttons {
    background-color: beige;
    border-radius: 0.5em;
    margin: 0.5em 0;
}

input.control-buttons {
    display: none;
}

label.control-buttons {
    padding: 0.5em 0.5em;
    color: black;
    display: inline-block;
}

input.control-buttons:checked+label {
    background-color: orange;
    border-radius: 0.5em;
}

.one-row {
    display: inline-block;
}

button.one-row {
    background-color: #282C34;
    color: beige;
    border: none;
}

button.one-row:hover {
    background-color: dodgerblue;
}

.slider {
    accent-color: orange;
    margin: 0.5em 0;
}

input[type="checkbox"] {
    accent-color: orange;
}

#last-hit {
    color: beige;
    font-size: 500%;
    height: 20%;
}

#board {
    max-height: 80%;
    margin: auto;
}

.player {
    border: 3px dotted beige;
    margin-bottom: 2em;
    padding: 0.5em;
    background-color: #267F54;
    opacity: 0.5;
}

.name {
    display: inline-block;
    margin-bottom: 0.5em;
}

.total {
    float: right;
}

.scores {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.score {
    background-color: beige;
    color: #282C34;
    text-align: center;
    margin: 0 0.25em;
    padding: 0.25em 0;
}

.active {
    border-style: solid;
    opacity: 1;
}

.topbottom {
    overflow: hidden;
    display: block;
    height: 100%;
    display: grid;
    grid-template-rows: 20% 20% 5% 55%;
}

.skill {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.skill img {
    object-fit: contain;
    padding: 0;
    margin: auto;
    height: 100%;
    width: 100%;
}