<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/16x16.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/board-status.js')}}"></script>
    <title>CS310: Status</title>
</head>

    <body>
        {% include 'header.html' %}

        <div class="camera-controls">
            <div class="camera-control">
                <h3>Show Center</h3>
                <label for="center">Draw a center line for</label><br>
                <label for="center">camera adjustment</label>
                <input name="center" id="showCenter" type="checkbox" onclick="centerLine()">
            </div>
        </div>

        <div class="container">
            <div class="item">
                <h2 class="cam-status one-row">Camera A</h2>
                <img class="cam-status" src="\video\0">
            </div>
            <div class="item">
                <h2 class="cam-status one-row">Camera B</h2>
                <img class="cam-status" src="\video\1">
            </div>
            <div class="item">
                <h2 class="cam-status one-row">Camera C</h2>
                <img class="cam-status" src="\video\2">
            </div>
        </div>
        </div>
    </body>
</html>