<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/16x16.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
    <title>CS310: Darts</title>
</head>

    <body class="background">
        {% include 'header.html' %}

        <div class="play">
            <form action="/new_game">
                <h2 class="form" >Game Type</h2>
                <div class="game-type">
                    <input class="game-type" type="radio" id="1001" name="game-type" value="1001">
                    <label class="game-type" for="1001">1001</label>
                    <input class="game-type" type="radio" id="701" name="game-type" value="701">
                    <label class="game-type" for="701">701</label>
                    <input class="game-type" type="radio" id="501" name="game-type" value="501" checked>
                    <label class="game-type" for="501">501</label>
                    <input class="game-type" type="radio" id="301" name="game-type" value="301">
                    <label class="game-type" for="301">301</label>
                    <input class="game-type" type="radio" id="121" name="game-type" value="121">
                    <label class="game-type" for="121">121</label>
                    <input class="game-type" type="radio" id="101" name="game-type" value="101">
                    <label class="game-type" for="101">101</label>
                </div>

                <label class="form" for="legs">Legs</label>
                <select class="form" name="legs" id="legs">
                    <optgroup label="First to:">
                        <option class="form" value="1" selected>1</option>
                        <option class="form" value="2">2</option>
                        <option class="form" value="3">3</option>
                        <option class="form" value="4">4</option>
                        <option class="form" value="5">5</option>
                        <option class="form" value="6">6</option>
                        <option class="form" value="7">7</option>
                    </optgroup>
                    <optgroup label="Best of:">
                        <option class="form" value="3">3</option>
                        <option class="form" value="5">5</option>
                        <option class="form" value="7">7</option>
                        <option class="form" value="9">9</option>
                        <option class="form" value="11">11</option>
                        <option class="form" value="13">13</option>
                        <option class="form" value="15">15</option>
                        <option class="form" value="17">17</option>
                        <option class="form" value="19">19</option>
                        <option class="form" value="21">21</option>
                    </optgroup>
                </select>

                <label class="form" for="player1name">Player 1 name:</label>
                <input class="form"type="text" id="player1name" name="player1name">
                <label class="form" for="player2name">Player 2 name:</label>
                <input class="form"type="text" id="player2name" name="player2name">
                <input class="form"type="submit" value="Play">
            </form>
        </div>
    </body>
</html>